.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  font-family: "Open Sans", serif;
  border-radius: 14px;

  padding: 18px;
  width: auto;
  position: relative;
  transition: background-color 300ms, color 300ms, opacity 300ms;
  background: linear-gradient(145deg, #6a8ef3, #6ba8ff);

  box-sizing: border-box;
  box-shadow: 5px 5px 10px #acacac, -5px -5px 10px #ffffff;

  &-spinner {
    position: absolute;
    margin: auto;
  }

  &-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
  }

  &-left_icon {
    margin-right: 10px;
  }

  &-left_icon {
    margin-left: 10px;
  }

  &.full-size {
    width: 100%;
  }

  &[disabled] {
    background-color: #b6b6b6 !important;
    cursor: no-drop;
    color: #fff;
  }

  &.outline {
    background-color: transparent;
    color: #1d1d1d;
  }

  &.secondary {
    background-color: transparent;
    color: #5880ef;
    border: 1px solid #6a8ef3;
  }
}

@media (min-width: 1025px) {
  .button {
    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 1;
    }
  }
}
